aiohappyeyeballs==2.4.0
bcrypt
aiohttp==3.10.5
aiosignal==1.3.1
aiosmtplib==2.0.2
alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
asyncpg==0.29.0
attrs==24.2.0
babel==2.16.0
blinker==1.8.2
boto3==1.35.20
botocore==1.35.20
build==1.2.2
CacheControl==0.14.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
cryptography==43.0.1
distlib==0.3.8
dnspython==2.6.1
dulwich==0.21.7
ecdsa==0.19.0
email_validator==2.2.0
fastapi==0.112.4
fastapi-babel==0.0.9
fastapi-mail==1.4.1
fastapi-utils==0.7.0
fastjsonschema==2.20.0
filelock==3.16.0
frozenlist==1.4.1
googleapis-common-protos==1.65.0
greenlet==3.1.0
grpcio==1.66.1
grpcio-status==1.66.1
grpcio-tools==1.66.1
h11==0.14.0
httptools==0.6.1
idna==3.10
installer==0.7.0
jaraco.classes==3.4.0
jeepney==0.8.0
Jinja2==3.1.4
jmespath==1.0.1
keyring==24.3.1
Mako==1.3.5
MarkupSafe==2.1.5
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
packaging==24.1
passlib==1.7.4
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==4.3.3
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
protobuf==5.28.1
psutil==5.9.8
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyasn1==0.6.1
pycparser==2.22
pydantic==2.9.1
pydantic-settings==2.5.2
pydantic_core==2.23.3
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
rapidfuzz==3.9.7
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9
s3transfer==0.10.2
SecretStorage==3.3.3
setuptools==75.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
starlette==0.38.5
tomlkit==0.13.2
trove-classifiers==2024.9.12
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.30.6
virtualenv==20.26.4
yarl==1.11.1
httpx==0.27.2
qrcode==8.0
pillow==11.0.0
pycryptodome==3.21.0
